@import 'tailwindcss';

.leaves-background {
    position: relative;
    height: 250px;
    background-size: cover;
    background-position: center;
    z-index: 0;
    will-change: opacity;
    transition: opacity 0.2s ease-out;
  }

::selection {
    background-color: rgba(217, 178, 106, 0.6);
}

