body {
	margin: 0;
	font-optical-sizing: auto;
	font-style: normal;
}

.pre-footer {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url("../../assets/images/pre-footer-bg.png");
	padding: 10vw 5vw;
	color: #ffffff;
	text-align: center;
}

.container-title h1 {
	font-size: 5vw;
	font-weight: 500;
	padding-top: 7vw;
	padding-bottom: 7vw;
	margin-left: 50px;
	margin-right: 50px;
	text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.75);
}

.container-conditions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2vw;
}

.container-conditions a {
	margin-left: 0.5vw;
	margin-right: 0.5vw;
	text-decoration: none;
	font-weight: 500;
	color: #ffffff;
	font-size: 3vw;
	text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.75);

}

.gradient-img{
	position: absolute;
	bottom: 0;
	width: 100vh;
}