.info-profile-container {
    width: 90%;
    max-width: 350px;
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    margin: auto;
}

.info-header {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 10px;
    right: 10px;
}

.edit-icon {
    width: 35px; 
    height: 35px;
    cursor: pointer;
} 

.info-field {
    margin-bottom: 12px;
}

.label {
    font-size: 13px;
    color: #888;
    margin: 0;
}

.value {
    font-size: 16px;
    font-weight: bold;
    margin: 4px 0 0 0;
}

.email {
    text-decoration: underline;
    color: black;
}