@import "tailwindcss";

.date-picker-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 120px;
  padding-right: 120px;
  height: 100vh;
}

#date-picker {
  border: 2px solid #dedede;
  border-radius: 3px;
  padding: 4px;
  cursor: pointer;
}

.time-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 250px;
}

.time-picker h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: #333;
  font-weight: 600;
}

.time-select {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.time-select-input {
  background-color: rgba(243, 243, 243, 0.7);
  border: 2px solid #dedede;
  border-radius: 3px;
  padding: 4px;
  font-size: 1rem;
  text-align: center;
  width: 70px;
  cursor: pointer;
  appearance: none;
}

.time-select-input:focus {
  outline: none;
  border-color: #337cb4;
}
